cloudflare:
    api_key: 44eb85a7bc58a87733dca6801b5ffe0279365
    zone_id: f075082d4859dadcbf4a5dd0bcb7de51
    zone_name: ayaoblog.space
    email: 861207555@qq.com
    domains:
        - aaa.ayaoblog.space
        - bbb.ayaoblog.space
        - ccc.ayaoblog.space
    domainipv6s:
        - 666.ayaoblog.space
        - 777.ayaoblog.space
        - 888.ayaoblog.space
speed_test:
    routines: 1000
    ping_times: 4
    test_count: 100
    download_time: 10
    tcp_port: 443
    speed_test_url: https://123.ayaoblog.space/file.mp4
    httping: false
    httping_status_code: 200
    httping_cf_colo: ""
    max_delay: 200
    min_delay: 0
    max_loss_rate: 0.2
    min_speed: 0
    print_num: 10
    ip_file: ipv6.txt
    ip_text: ""
    output: result6.csv
    disable_download: false
    test_all_ip: false
